@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*-- scss:defaults --*/

$font-family-sans-serif:      Inter, sans-serif !default;
$font-family-serif:           Inter, serif !default;  /* Not actually a serif font but whatever */

$link-color: #d7433b;
$link-hover-color: #f06a63;

/*-- scss:rules --*/

.csl-bib-body {
    font-size: 0.9em;
}

div.hanging-indent {
    margin-left: 0;
}

#title-block-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    padding-bottom: 2em;
}

.thanks-section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    padding-bottom: 2em;
}
